
body {
	padding: 0;
    margin: 0;    
}

h1 {
  font-family : Trebuchet MS;
  font-size : 80px;
  color : #84D9FE;
  color : rgb(132, 217, 254);
  text-align: center;
  background-image: url(About.png);
  background-size: contain
  text-indent: 40px;
  padding: 0;
    margin: 0;
  }


p {
    text-align: center;
    font-family : Trebuchet MS;
    font-size: 16px;
  }
  
div.container {  
      background-image: url(Background.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
     padding-top: 500px;
     padding-bottom: 50px;
     font-family : Trebuchet MS;
     text-indent: 60px;
 }

a:hover {
	text-decoration: none;
	color: white;
}

a {color: black;
    text-decoration: none
}

 .navbar {
    
    height: 35px;
    width: 100%;
    position: fixed;
    top:0;

}

.button {
    border: none;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 1px 10px 1px 1px;
    cursor: pointer;
    border-radius: 12px;
    top:0;
    
}


.button1 {
    background: white;
  color: #84d9fe;
  float: right;
  border: 2px solid #84d9fe;
}

.button2 {
 background: white;
 color:#158eb7;
 float: right;
border: 2px solid #158eb7;}

.button3
{ 
  background: white;
  color:#727cca;
  float: right;
  border: 2px solid #727cca;
  margin-right: 20px;
}

.button4 {
	background: white;
  color:#bb9fad;
  border: 2px solid #bb9fad;
  margin-left: 20px;
}

