.navbar {
    background-color: white;
    height: 30px;
    width: 100%;
    position: fixed;
    top:0;

}

.button {
    border: none;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 1px 10px 1px 1px;
    cursor: pointer;
    border-radius: 12px;
    top:0;
    
}


.button1 {
    background: white;
 // background: radial-gradient(#ffffff, #ffffff, #cdeffe, #84d9fe); 
  color: #84d9fe;
  float: right;
  border: 2px solid #84d9fe;
}

.button2 {
  background: white;
    // background: radial-gradient(#ffffff, #ffffff,#ffffff, #48c1ea);
color:#158eb7;
float: right;
border: 2px solid #158eb7;}

.button3
{ 
    background: white;
    // background: radial-gradient(#ffffff, #ffffff, #ffffff, #edeef8, #727cca);
color:#727cca;
float: right;
border: 2px solid #727cca;
margin-right: 20px;
}