h1 {
  font-family : Trebuchet MS;
  font-size : 50px;
  color : #FFFFFF;
  color : rgb(255, 255, 255);
  text-align: center;
 padding-left: 10px;
 padding-bottom: 0px;
 padding-top: 0px;
  
}


body {
	background-image: url('sunset1.png');
	background-size:100% 100%;
	background-repeat: no-repeat;
    padding: 0;
    margin: 0;
}


}

img {
    display: block;
    margin: auto;
    width: 100%;
 }


.form {
	margin:auto;
	height: 450px;
	width:400px;
	border: 4px blue;
	color: white;	
	font-family: Trebuchet MS;
}

.sunset {
	height: 160px;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 6px;
    resize: vertical;
}

    .navbar {
    
    height: 35px;
    width: 100%;
    position: fixed;
    top:0;

}

.button {
    border: none;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 1px 10px 1px 1px;
    cursor: pointer;
    border-radius: 12px;
    top:0;
    
}


.button1 {
    background: white;
  color: #84d9fe;
  float: right;
  border: 2px solid #84d9fe;
}

.button2 {
 background: white;
 color:#158eb7;
 float: right;
border: 2px solid #158eb7;}

.button3
{ 
  background: white;
  color:#727cca;
  float: right;
  border: 2px solid #727cca;
  margin-right: 20px;
}

.button4 {
	background: white;
  color:#bb9fad;
  border: 2px solid #bb9fad;
  margin-left: 20px;
}

