p {
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
	font-size: 20px
	font-family: Trebuchet MS;
	color: white;
}

div.three {
	display: inline-block;
	margin-left: 180px;
	margin-bottom: 50px;
}

div.horizontal {
	margin-left: 10px;
	margin-bottom: 50px;
}

div.h2 {
	display: inline-block;
margin-left: 10px;
	margin-bottom: 50px;
}

div.h3 {
display: inline-block;
margin-left: 10px;
	margin-bottom: 50px;
}

div.h4 {
	display: inline-block;
	margin-left: 10px;
	margin-bottom: 50px;
}

div.two {
	display: inline-block;
	margin-left: 180px;
	margin-bottom: 50px;
}

img {
	width: 100%;
    height: auto;
	margin-left: 60px;
	box-shadow:  2px 2px 5px #999999;
}

 .navbar {
    background-color: white;
    height: 35px;
    width: 100%;
    position: fixed;
    top:0;

}

.button {
    border: none;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 1px 10px 1px 1px;
    cursor: pointer;
    border-radius: 12px;
    top:0;
    
}


.button1 {
    background: white;
  color: #84d9fe;
  float: right;
  border: 2px solid #84d9fe;
}

.button2 {
 background: white;
 color:#158eb7;
 float: right;
border: 2px solid #158eb7;}

.button3
{ 
  background: white;
  color:#727cca;
  float: right;
  border: 2px solid #727cca;
  margin-right: 20px;
}

.button4 {
	background: white;
  color:#bb9fad;
  border: 2px solid #bb9fad;
  margin-left: 20px;
}

