* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
    }

    

    .navbar {
    
    height: 35px;
    width: 100%;
    position: fixed;
    top:0;

}

.button {
    border: none;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 1px 10px 1px 1px;
    cursor: pointer;
    border-radius: 12px;
    top:0;
    
}


.button1 {
    background: white;
  color: #84d9fe;
  float: right;
  border: 2px solid #84d9fe;
}

.button2 {
 background: white;
 color:#158eb7;
 float: right;
border: 2px solid #158eb7;}

.button3
{ 
  background: white;
  color:#727cca;
  float: right;
  border: 2px solid #727cca;
  margin-right: 20px;
}

.button4 {
	background: white;
  color:#bb9fad;
  border: 2px solid #bb9fad;
  margin-left: 20px;
}

