    h1 {
    	text-align: center;
    	font-family : Trebuchet MS;
    	font-size: 60px;
    	text-shadow: 2px 2px 4px #0F6581;
    	color: #0F6581;
    	margin: auto;
    	padding:0;
    	height: 200px;
    	opacity: 70%;
    	

    }

    p {
    	color: white;
    }

    div.h {
    	display: block;
    	margin-left: 120px;
    	margin-right: 90px;
    	padding: 0px;
    	
    	
    }

     div.container {
     
     display:inline-block;
      margin-right:10px; 
     margin-left:120px;
     padding: 0px;
    
  
     
     }


img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 10px;
	box-shadow: 10px 10px 5px grey;
	
}

.navbar {
    background-color: white;
    height: 35px;
    width: 100%;
    position: fixed;
    top:0;

}

.button {
    border: none;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 1px 10px 1px 1px;
    cursor: pointer;
    border-radius: 12px;
    top:0;
    
}


.button1 {
    background: white;
  color: #84d9fe;
  float: right;
  border: 2px solid #84d9fe;
}

.button2 {
 background: white;
 color:#158eb7;
 float: right;
border: 2px solid #158eb7;}

.button3
{ 
  background: white;
  color:#727cca;
  float: right;
  border: 2px solid #727cca;
  margin-right: 20px;
}

.button4 {
	background: white;
  color:#bb9fad;
  border: 2px solid #bb9fad;
  margin-left: 20px;
}

