  body {
    background: linear-gradient(to top, #ffffff 0%, #0f6581 100%);
    background-repeat: no-repeat;
    width: 100%
    height:600px;
    background-size: 100% 100%;
    padding-top: 0px;
    margin-top: 0px;
  }

  h1 {
    text-align: center;
    color: white;
    font-family: "Trebuchet MS";
    font-size: 60px;

  }

 

  .container {
    padding-left: 70px;
    margin:auto;
    width: 60%;
  }

  .art {
    border: 5px solid white;
    background: transparent;
    color: white;
    font-size: 45px;
    width: 300px;
    height: 250px;
    margin-right: 80px;
  }

  .promotional {
    border: 4px solid white;
    background: transparent;
    color: white;
    font-size: 45px;
    width: 300px;
    height: 250px;
    margin-bottom: 45px;

  }

  .art, .promotional {
    display: inline-block;
    cursor: pointer;
    font-family: "Trebuchet MS";
    margin-top: 40px;
  }


 .navbar {
    
    height: 35px;
    width: 100%;
    position: fixed;
    top:0;

}

.button1, .button2, .button3, .button4 {

    border:none;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 1px 10px 1px 1px;
    cursor: pointer;
    border-radius: 12px;
    top:0;
    
}


.button1 {
    background: white;
  color: #84d9fe;
  float: right;
  border: 2px solid #84d9fe;
}

.button2 {
 background: white;
 color:#158eb7;
 float: right;
border: 2px solid #158eb7;}

.button3
{ 
  background: white;
  color:#727cca;
  float: right;
  border: 2px solid #727cca;
  margin-right: 20px;
}

.button4 {
  background: white;
  color:#bb9fad;
  border: 2px solid #bb9fad;
  margin-left: 20px;
}

